{% extends "base.html" %}
{% load bootstrap_icons %}
{% include 'components/confirm_delete.html' %}
{% block content %}
{% csrf_token %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h4>Categories</h4>
      <table class="table table-striped table-sm" width="50%">
        {% for category in category_list %}
        <tr>
          <td>{{category.category}}</td>
          <td>
              <a href="{% url 'delete' category.id %}">{% bs_icon 'trash' %}</a>
          </td>
          <td>
              <a href="{% url 'edit' category.id %}">{% bs_icon 'pencil-square' %}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <button onclick= "location.href='/categories/add'" class="btn btn-primary">Add</button>
{% endblock %}